* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin: 0 auto;
    width: 1440px;
}

.underhead {
    display: flex;
    background-color: #E5E000;
    justify-content: flex-start;
    height: 200px;
}

.namehead {
    margin: 80px;
}

.background {
    background-image: url(images/project3.png);
    background-size: cover;
    width: 1440px;
    height: 1080px;
}

.links {
    display: flex;
    width: 1440px;
    height: 100px;
    justify-content: flex-start;

    background-color: #E5E000;
}

.textlinks {
    font-size: 25px;
    margin: 40px 0 0 80px;
}

.about {
    display: flex;
    font-size: 50px;
    justify-content: flex-start;
}

.aboutbox {
    display: flex;
    width: 1280px;
    height: 800px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
}



.footer {
    display: flex;
    background-color: #E5E000;
    height: 200px;
    justify-content: center;
    font-size: 50px;
}

.footerconcept {
    display: flex;
    width: 1250px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    image-resolution: 150%;
}